/* 全体のスタイル設定 */
/* すべての要素に box-sizing: border-box を適用する */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
}

h1 {
    color: #862040;
    margin-bottom: 10px;
    text-align: center;
}

.form-section {
    padding: 0 25px;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.form-box {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.form-box label {
    font-weight: bold;
    color: #555;
}

.form-box input[type="date"],
.form-box input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #862040;
    border-radius: 4px;
    font-size: 1rem;
}

.form-box input:focus {
    border-color: goldenrod;
    outline: none;
    box-shadow: 0 0 5px rgba(134, 32, 64, 0.5);
}

.form-box button {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#generateGrid:hover {
    background-color: gold;
}

#resetGrid {
    background-color: gray;
}

#resetGrid:hover {
    background-color: silver;
}

#UI-container {
    width: 100%;
    justify-items: center;
}

.color-palette {
    width: 90%;
    padding: 5px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.color-palette button {
    width: 100%;
    padding-top: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.color-1 { background-color: red; }
.color-2 { background-color: blue; }
.color-3 { background-color: green; }
.color-4 { background-color: orange; }
.color-5 { background-color: orangered; }
.color-6 { background-color: purple; }
.color-7 { background-color: violet; }
.color-8 { background-color: skyblue; }
/* .color-9 { background-color: white; } */

.selected-color {
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.color-palette_fixed {
    position: fixed;
    top: 20px;
    z-index: 1000;
}
#color-palette-placeholder {
    width: 90%;
    padding: 5px 20px;
    max-width: 400px;
    margin-bottom: 5px;
}

.drawTime {
    width: 100px;
    padding-top: 100%;
    border-radius: 10px;
}

#grid-container {
    background-color: white;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 90%;
    height: auto;
    display: grid;
    gap: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

/* JavaScriptで付与 */
.grid-cell {
    position: relative;
    padding-top: 100%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    overflow: hidden;
    cursor: pointer;
}
.time-block-content { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: black;
}

@media (min-width: 768px) {
    #grid-container {
        width: 50%
    }
}