/* 全体のスタイル設定 */
/* すべての要素に box-sizing: border-box を適用する */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* フォントファミリー */
    background-color: #f4f7f6; /* 背景色 */
    margin: 20px; /* マージンをリセット */
    color: #333; /* 文字色 */
    display: flex; /* Flexboxを使用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    min-height: 90vh; /* 最小高さ */
}

h1 {
    color: #862040; /* 見出しの色 */
    margin-bottom: 30px; /* 下のマージン */
    text-align: center; /* 中央揃え */
}

.input-section {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    max-width: 400px;
}

.input-section label {
    font-weight: bold;
    color: #555;
}

.input-section input[type="date"],
.input-section input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #862040;
    border-radius: 4px;
    font-size: 1rem;
}

.input-section input:focus {
    border-color: goldenrod;
    outline: none;
    box-shadow: 0 0 5px rgba(134, 32, 64, 0.5);
}

.input-section button {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#generateGrid:hover {
    background-color: gold;
}

#resetGrid {
    background-color: gray;
}

#resetGrid:hover {
    background-color: silver;
}

.color-palette {
    width: 90%;
    padding: 5px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.color-palette button {
    width: 100%;
    padding-top: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.color-1 { background-color: red; } /* 薄い赤 */
.color-2 { background-color: blue; } /* 薄い緑 */
.color-3 { background-color: green; } /* 薄い青 */
.color-4 { background-color: orange; } /* 薄い黄 */
.color-5 { background-color: orangered; } /* 薄い紫 */
.color-6 { background-color: purple; } /* 薄いオレンジ */
.color-7 { background-color: violet; } /* 薄いグレー */
.color-8 { background-color: skyblue; } /* 薄い茶色 */

.selected-color {
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

#schedule-grid-container {
    background-color: white;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0;
    border: 5px solid black;
}

/* JavaScriptで付与 */
.grid-cell {
    position: relative;
    padding-top: 100%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    overflow: hidden;
    cursor: pointer;
}
.time-block-content { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: black;
}
